.operation_date {
    margin: 14px 180px;
    .ant-picker.ant-picker-range{
        width: 48%;
    }
}

@media screen and (max-width: 800px) {
    .operation_date {
        margin: 14px 0cqb;
        .ant-picker.ant-picker-range{
            width: 100%;
        }
    }
}