.tab_section {
  .ant-tabs-nav {
    position: absolute;
    top: 66px;
    left: 385px;
    &::before {
      display: none;
    }
 

   
    .ant-tabs-nav-list {
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      .ant-tabs-tab {
        border-right: 1px solid #d9d9d9;
        border-radius: unset !important;
        border-left: unset !important;
        border-bottom: unset !important;
        padding: 5px 11px;
      }
    }
    .ant-tabs-tab-active{
        color: #fff !important;
        background: #5d7074 !important;
        
        margin: -2px !important;
        .ant-tabs-tab-btn {
            color: #fff !important;
        }
    }
  }

.ant-picker.ant-picker-range{
  color: #545454;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-top: -4px;
}
svg {
  color: #000 !important;
  display: none;
}
}
.pagination_cus {
  margin-top: 9px;
  float: right;
}

@media screen and (max-width: 800px) {
  .ant-tabs-nav {
    position: static !important;
    margin-inline: 4% !important;
    margin-top: 11px !important;
}
}
