.switch_btn{
    margin-bottom: 2px;

    .ant-row.ant-form-item-row{
        width: 50%;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
    }
    .ant-col.ant-form-item-control {
        flex-grow: unset;
    }
    .ant-switch {
        height: 20px;
        min-width: 39px;
    }
    .ant-switch.ant-switch-checked{

    }

    .ant-switch .ant-switch-handle {
        width: 16px;
        height: 16px;
    }
}