.deposit_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .ant-form-item{
        margin: 12px;
    }
}

.modal_deposit{
    .ant-modal-content {
        border-radius: 2px !important;
        padding: 0px 30px !important;
    }
}

.betting_icon{
    min-height: unset !important;
}