.main_acc_section {
  background: #fff;
  padding: 15px 0px;
  // .ant-picker{
  //     width: 40% !important;
  // }
  .transtion_tab {
    .ant-tabs-nav {
      position: absolute;
      top: 55px;
      right: 0px;
      margin: 14px 35px;
      border-bottom: unset !important;
      .ant-tabs-tab {
        padding: 5px 14px;
        border-radius: 0px;
        margin: 0px !important;
      }
    }
    .ant-tabs-nav-more {
      display: none;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background-color: #51524e !important;
      color: #fff !important;
      .ant-tabs-tab-btn {
        color: #fff !important;
      }
    }
  }
  .ant-tabs-nav{
    &::before{
        display: none !important;
    }
  }
}

.selected_user {
  margin-left: 12px;
  .ant-select-selector {
    height: 37px !important;
  }
  span.ant-select-selection-placeholder {
    padding-top: 3px !important;
  }
  span.ant-select-selection-item {
    padding-top: 3px !important;
  }
}

@media screen and (max-width: 800px) {
  .selected_user {
    margin-left: 0px;
    span.ant-select-selection-placeholder {
      padding-top: 3px !important;
    }
    span.ant-select-selection-item {
      padding-top: 3px !important;
    }
  }
  .main_acc_section {
    background: #fff;
    padding: 15px 0px;
    .datepicker {
      margin-left: unset;
    }
    .ant-picker {
      width: 100% !important;
      margin-left: unset;
    }
    .transtion_tab {
      .ant-tabs-nav {
        position: relative;
        top: unset;
        left: unset;
        margin: 14px 2px !important;
        .ant-tabs-tab {
          padding: 5px 14px;
        }
      }
      .ant-tabs-nav-more {
        display: none;
      }
    }
  }
}

.c_pointer {
  cursor: pointer;
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
  .main_acc_section {
    .transtion_tab {
      .ant-tabs-nav {
        position: relative !important;
        top: unset !important;
        right: unset;
        margin: 14px 35px;
      }
    }
  }
}
