.select_upline {
  background-color: #fff;
  padding-bottom: 2px;
  margin: 0px 28px;
  .sub_select_upline {
    background: #74766f !important;
    color: #fff;
  }
  .select_upline_list {
    background-color: #fff;
    .ant-select-selector {
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-top-width: 1.02px;
      border-radius: 2px;
      width: 230px;
      height: 36px;
      margin: 10px;
      display: flex;
      justify-content: space-between;
    }
    svg {
      color: #000 !important;
    }
    .ant-select.css-dev-only-do-not-override-12jzuas.ant-select-single.ant-select-show-arrow {
      width: 100% !important;
      margin-inline: -2px !important;
    }
  }
}
.main_selecte_upline_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_item {
  li {
    &:hover {
      color: #fff !important;
      background: #74766f !important;
      border-radius: unset;
    }
  }
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active {
  background: #74766f;
  color: #fff;
  border-radius: unset;
}
.ant-select-dropdown {
  margin: 0;
  padding: 0;
  color: #545454;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.rc-virtual-list-holder-inner {
  max-height: 240px;
  margin-bottom: 0;
  padding-left: 0;
  overflow: auto;
  list-style: none;
  outline: none;
}
.mt-16 {
  margin-top: 16px;
}
.mtr-16 {
  margin-top: 16px;
}

.no_comm {
  svg {
    color: #d9d9d9;
  }
}
.share_type {
  svg {
    color: #d9d9d9;
  }
}

@media screen and (max-width: 800px) {
  .select_upline {
    margin: 0px 7px 11px 7px;
  }
  .mtr-16 {
    margin-top: 0px;
  }
  .share_type {
    .ant-select-selector {
      // width: 134px !important;
      height: 34px;
      padding: 0 11px;
    }
    .ant-select-show-arrow {
      width: unset !important;
    }
    svg {
      color: #d9d9d9;
    }
  }
}
