.roulette_droupdown{
    .table_dropdown{
        float: left !important;
    }
    .ant-space-item {
        margin-left: 0px !important;
    }
}

.roulette{
    .m-12{
        margin: 12px 0px;
    }
    .ant-card-head-title {
        font-size: 18px !important;
    }
    .ant-card-extra {
        button {
        text-decoration: none !important;
        background-image: none;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        border-radius: 2px;
        color: #fff;
        background-color: #5d7074;
        padding: 4px 10px !important;
        font-weight: 600;
        outline: unset;
        border: unset;
        margin: 2px;
    }
    }
}
.roulette_table{
    .ant-table-cell {
        padding: 7px 12px !important;
    }
}

.ant-table-cell-row-hover {
    background: unset !important;
}