.match_ladger{
    .ant-picker.ant-picker-range.css-dev-only-do-not-override-12jzuas {
        width: 92%;
        margin-inline: 8%;
    }

}
.main_match_ledger{
    .ant-row.main_super_super_ledger {
        margin: 17px 0;
        gap: 2.5%;
        .ant-col.ant-col-6{
        margin-left: -10px;
        }
        svg{
            color: #d9d9d9;
        }
    }
}
.selected_ledger{
    .ant-select.css-dev-only-do-not-override-12jzuas.ant-select-single.ant-select-show-arrow {
        width: 98% !important;
       
    }
    .ant-select-selector {
        height: 36px !important;
        border-radius: 2px;
        span.ant-select-selection-item {
            padding: 2px 0px;
        }
    }
}

@media screen and (max-width: 800px) {
    .match_ladger{
        .ant-picker.ant-picker-range.css-dev-only-do-not-override-12jzuas {
            width: 100%;
            margin-inline: 2px;
            margin: 12px
        }
    
    }
    .selected_ledger{
        .ant-select.css-dev-only-do-not-override-12jzuas.ant-select-single.ant-select-show-arrow {
            width: 96% !important;
            margin-inline: 12px !important;
           
        }
        
    }
    .ant-row.main_super_super_ledger{
        .ant-col.ant-col-6.css-dev-only-do-not-override-12jzuas {
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            margin-top: 16px;
            margin-left: 14px !important;
        }
    }
}