.match_slip{
    padding: 2% 18px;
    .ant-card{
        margin-left: -9px;
        margin-bottom: 15px;
    }
    .ant-select-selector {
        height: 34px !important;
        border-radius: 1px !important;
    }
    .ant-select-droupdown{
        margin: 0px !important;
        padding: 0px !important;
        color: #545454;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }
    .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #a8b3b3 !important;
    }
    .ant-select-dropdown-menu-item:last-child {
        border-radius: 0 0 2px 2px !important;
    }
    th.ant-table-cell {
        border-radius: 3px 3px 0 0 !important;
    }
}

@media screen and (max-width: 800px) {
    .match_slip {
        padding: 1% 0%;
    }
    .match_slip_selected {
        width: 87% !important;
        min-width: 87vw !important;
        max-width: 87% !important;
        margin-bottom: 13px;
    }
    .ant-col.ant-col-8{
        width: 100%;
        // min-width: 100%;
        max-width: 100%;
    }
}

.pnl{
    .ant-card-head-title {
        font-size: 16px !important;
    }
}

