.main_layout {
  min-height: 100vh;
  height: 100%;
  max-height: 100%;
  .ant-layout-header {
    background: #74766f !important;
    color: #fff !important;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08) !important;
  }
}

.mob_view {
  display: none;
}

@media screen and (max-width: 800px) {
  .side_bar {
    position: absolute !important;
    top: 0;
    min-height: 100vh;
    z-index: 2;
    height: 100%;
    max-height: 100%;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1),
      height 0s ease 0.3s, width 0s ease 0.3s,
      transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1) !important;
  }
  .desk_side {
    display: none !important;
  }
  .mob_view {
    display: block !important;
  }
  .header_com{
    position: sticky;
    top: 0px;
  }
  .marqu_tag{
    position: sticky;
    top: 50px;
    z-index: 2;
  }
  .main_section {
    height: unset !important;
    overflow-y: unset !important
  
  }
  
}

.main_section {
  background-image: url(https://master.bmxpro.in/body-bg.jpg) !important;
  background-repeat: repeat !important;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden !important;

}




