.custom-modal-text {
  padding: 23px 0px;
  h2 {
    font-weight: 500;
    color: #000;
    margin-bottom: 0.5em;
    font-size: 20px;
  }
  p {
    padding: 0;
    margin-bottom: 0px;
    line-height: 18px;
    margin: 7px 0px;
    color: #545454;
  }
}
.modals_rule{
    .ant-modal-content {
        border-radius: 2px !important;
        padding: 20px 24px !important;
    }
    svg {
        color: #fff;
    }
}
.oddscomm{
  .ant-table-content{
    margin-top: 18px;
    padding-bottom: 20px;

  }
}
