.active_match_name{
    .ant-card-head-title{

        font-size: 18px !important;
    }
}
.inplay{
    background-color: rgb(50, 46, 115);
    outline: unset;
    border: unset;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 9px;
}
.loading_active{
    margin-top: 5%;
}

.active_slip.login_report {
    margin: 0px 11px;
}