.main_pl {
  .table_section {
    table {
      .bg_green:nth-child(even) {
        background-color:green !important;
      }
    }
  }
}



span.user_id {
  background: rgb(255, 85, 0);
  padding: 5px;
  color: #fff;
  border-radius: 3px;
}
