.list_supers {
  background: #fff;
  .create_btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    a {
      color: #fff;
      background-color: #5d7074;
      border-color: #5d7074;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      color: #ffffff !important;
      background-color: #5d7074 !important;
      border-color: #5d7074 !important;
      padding: 10px 12px;
      display: flex;
      align-items: center;
    }
  }
  .live_table {
    margin-top: 20px;
    p.ant-dropdown-trigger.droup_link.droup_menu {
      // position: static;
      // background: #5d7074;
      // padding: 0px 6px;
    }
    .plus_btn {
      background: #5d7074;
      padding: 6px 0px 6px 9px;
      color: #fff;
      cursor: pointer !important;
      width: 30px;
    }
    th.ant-table-cell {
      background: #74766f;
      color: #fff;
      padding: 0 3px !important;
    }
    th {
      &:first-child {
        border-radius: unset !important;
      }
      &:last-child {
        border-radius: unset !important;
      }
    }
  }
  .ant-table-wrapper .ant-table-filter-trigger {
    color: #ffffff9e !important;
    margin-right: -3px !important;
  }
  .ant-table-container {
    border-radius: unset !important;
  }
}
.ant-table-filter-dropdown {
  .ant-btn-primary {
    color: #fff;
    background-color: #5d7074;
    border-color: #5d7074;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: #ffffff !important;
    background-color: #5d7074 !important;
    border-color: #5d7074 !important;
  }
  .ant-btn {
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    border: solid 1px #d9d9d9;
    border-radius: 2px !important;
    color: #fff;
    background-color: #74766f;
    border-color: #d9d9d9;
  }
  svg {
    color: #fff;
  }
}

.ant-modal-header {
  margin-top: -8px;
  margin-bottom: 12px;
  &::after {
    content: "";
    height: 52px;
    width: 100%;
    position: absolute;
    background: #74766f;
    color: #fff;
    top: 0;
    left: 0;
  }
}

.ant-modal-title {
  color: #fff !important;
  position: relative;
  z-index: 2;
}
.ant-modal-footer::after {
  content: "";
  position: absolute;
  background: #ddd;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: 70px;
}
.modal_deposit {
  p {
    font-size: 22px;
    margin-bottom: 9px;
  }
  .ant-modal-body {
    margin-top: 33px;
    margin-bottom: 50px;
  }
  .ant-input {
    color: #545454;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  .ant-modal-title {
    h1 {
      font-size: 24px !important;    padding-top: 7px;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .ant-modal-header {
    margin-top: -14px;
  }
}

ul.menu_data {
  padding: 0 !important;
  margin: 0;

  .ant-dropdown-menu-item-only-child {
    padding: 2px 12px !important;
    &:hover {
      color: #fff !important;
      background: #038fde !important;
      border-radius: unset;
      // padding: 1px 12px;
    }
  }

  span.ant-dropdown-menu-title-content {
    div {
      font-weight: 500;
    }
    a {
      color: #74766f;
      font-weight: 500;
    }
  }
}

.ant-table-content {
  width: 100%;
  overflow: scroll;
}

.main_search_droup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search_droup {
    position: relative !important;
    float: unset !important;
    top: unset !important;
    right: unset !important;
    cursor: pointer;
    .ant-space-item {
      background-color: unset !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .live_table {
    overflow: scroll;
  }
  p.ant-dropdown-trigger.droup_link.droup_menu {
    position: static;
    background: #5d7074;
    padding: 4px 6px;
  }
}

.m-0 {
  margin: unset !important;
  width: 100%;
}

.menu_item{
  left: -99px;
  .ant-form{
    padding: 6px;
    .ant-form-item{
      margin-bottom: 6px;
  }
  input.ant-input{
    border-radius: 2px;
}
  }
  .agent_search_deatil{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ant-btn-primary {
    background: #5d7074 !important;
    color: #fff;
    border-radius: 2px;
    border: unset;
    outline: unset;
    padding: 0px 10px;
    height: 22px;
    font-weight: 600;
}
.ant_reset_btn{
  background-color: #73766f !important;
  color: #fff;
  border-radius: 2px;
  border: unset;
  outline: unset;
  padding: 0px 10px;
  height: 22px;
  font-weight: 600;
}
}


@media screen and (max-width: 800px) {
  p.ant-dropdown-trigger.droup_link.droup_menu {
    position: static;
    background: #5d7074;
    padding: 5px 6px !important;
}
}