.gx-app-login-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #8b8f87;
  width: 100vw;
  
  .gx-app-login-container {
    position: relative;
    max-width: 680px;
    width: 94%;
    margin: 0 auto;
    .gx-app-login-main-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #ffffff;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
      font-size: 14px;
      overflow: hidden;
      position: relative;
      .gx-app-logo-content {
        color: #fff;
        padding: 35px 35px 20px;
        width: 40%;
        position: relative;
        overflow: hidden;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .gx-app-logo-content-bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            right: 0;
            bottom: 0;
            background-color: #73766f !important;
          }
        }
        .gx-app-logo-wid {
          margin-bottom: 12px;
          z-index: 2;
          position: relative;
          h1 {
            font-size: 1.4rem;
            margin-bottom: 8px;
            font-weight: 400;
          }
          p {
            font-weight: 600;
        }
        }
        .gx-app-logo {
          position: relative;
          z-index: 2;
          img {
            max-width: 100%;
          }
        }
      }
      .gx-app-login-content {
        padding: 35px 35px 20px;
        width: 60%;
        form {
          .ant-form-item-control.css-dev-only-do-not-override-12jzuas {
            min-width: 100% !important;
            width: 100% !important;
            max-width: 100%;
            input {
              border-radius: 2px;
              height: 36px;
              background-color: #e7f0fe;
              color: #545454;
              border: 1px solid #d9d9d9;
              outline: unset;
            }
            .ant-btn-primary {
              box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
              color: #ffffff !important;
              background-color: #5d7074 !important;
              border-color: #5d7074 !important;
              border-radius: 2px;
              font-weight: 600 !important;
            }
          }
          .ant-form-item {
            .ant-row {
              display: flex;
              flex-flow: row wrap;
              min-width: 0;
              justify-content: end;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 575px) {
    .gx-app-logo-content {
        width: 100% !important;
        padding: 20px 20px 10px !important;
        .gx-app-logo-wid {
            h1 {
              font-size: 1rem !important;
              margin-bottom: 8px;
              font-weight: 600 !important;
            }
            p {
              font-weight: 600;
          }
          }
    }
    .gx-app-login-content {
        width: 100% !important;
        padding: 20px 20px 10px !important;

    }
}


.main_loading_section{
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
  position: absolute;
}
.loading_image{
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    height: 50px;
  width: 50px;
  }
}

