@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: NoirPro, sans-serif !important;
}
.d-none {
  display: none !important;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s,
    width 0s ease 0.3s, -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  outline: 0;
  color: #fff;
}
.lightback {
  background: #a7d8fd;
}
.lightlay {
  background: #f9c9d4;
}
.back {
  background: #63b7f7 !important;
}
.lay {
  background: #ef839b !important;
}
.text_success {
  color: green;
}
.text_danger {
  color: red;
}
.ant-btn-default {
  background: #74766f !important;
  color: #fff;
  border-radius: 2px;
  border: unset;
  outline: unset;
  margin-right: 14px;
}
.ant-btn-primary {
  background: #5d7074 !important;
  color: #fff;
  border-radius: 2px;
  border: unset;
  outline: unset;
}
.main_live_section {
  background-color: #fff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfbfbf;
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfbfbf;
  font-weight: 600;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfbfbf;
  font-weight: 600;
}

// svg {
//   color: #fff;
// }

td,
th {
  white-space: nowrap;
}

.ant-card {
  border-radius: 2px;
}

.dateHiglight {
  background: #d5dc66;
  &:hover {
    background: #d5dc66 !important;
  }
}

::selection {
  background: #5d7074;
  color: #fff;
}
.text-center {
  text-align: center !important;
}
::-webkit-scrollbar {
  display: none;
}
.text-right {
  text-align: center;
}
button {
  cursor: pointer;
}

.bg_green {
  background: green !important;
}
.ant-picker.ant-picker-range {
  border-radius: 2px !important;
}
.bg_red {
  background-color: red !important;
}
.ant-modal-close-x {
  svg {
    color: #fff;
  }
}

.ant-btn-default {
  &:hover {
    color: #fff !important;
    border-color: unset !important;
  }
}

.ant-table-wrapper {
  .ant-table-container {
    table {
      thead {
        tr {
          &:first-child {
            *:first-child {
              border-start-start-radius: 2px !important;
            }
          }
          &:last-child{
            *:last-child {
              border-start-end-radius: 2px !important;
            }
          }
        }
      }
    }
  }
}
.ant-select-selector{
  border-radius: 2px !important;
  margin-right: 2px;
}

li.ant-pagination-options {
  margin-right: 12px;
}


@media screen and (max-width: 800px) {
  .ant-picker-panel-container {
    margin-left: 0px;
    width: 100% !important;
    overflow: scroll !important;
}
.ant-picker-dropdown.ant-picker-dropdown-range.ant-picker-dropdown-placement-bottomLeft {
  width: 100%;
  min-width: 90%;
  max-width: 100%;
  overflow: scroll;
}
.ant-picker-dropdown.ant-picker-dropdown-range.ant-picker-dropdown-placement-bottomLeft {
  left: 0px !important;
}
}
// .ant-notification.ant-notification-top{
//   z-index: 999999;
// }

div#rc-tabs-0-tab-1{
  background: green !important;
    color: #fff !important;
    padding: 5px 44px !important;
    border-radius: 2px !important;
}

div#rc-tabs-0-tab-2{
  background: red !important;
    color: #fff !important;
    padding: 5px 39px !important;
    border-radius: 2px !important;
  color: #fff !important;
}

// .ant-dropdown.ant-dropdown-placement-bottomLeft {
//   z-index: 99999 !important;
// }