.ledger_data {
    .ant-card-head-title{

        font-size: 16px !important;
        font-weight: 400 !important;
    }
  .my_ledger {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    h3 {
      font-size: 18px;
      font-family: Arial !important;
      font-weight: 500;
    }
  }
}
.ledger_pagination{
    li.ant-pagination-item-active {
        line-height: 24px !important;
        width: 23px !important;
        min-width: 26px !important;
        height: unset !important;
        border-radius: 3px;
        a {
            padding: 0px !important;
            color: #74766f !important;
        }
    }
    li.ant-pagination-item{
        line-height: 24px;
        width: 23px !important;
        min-width: 26px !important;
        height: unset !important;
    }
   
}
.pagination_main{
    margin-bottom: 7px;
    margin-right: 11px;
    span.anticon.anticon-left{
        svg {
            color: #74766fad !important;
            font-size: 12px !important;
        }
    }
    span.anticon.anticon-right{
        svg {
            color: #74766fad !important;
            font-size: 12px !important;
        }
    }
}


.ant-pagination-item-active {
    font-weight: 500;
    background-color: #ffffff !important;
    border-color: #74766f !important;
}
.ant-pagination-item-active {a {
    color: #74766f !important;
}}

li.ant-pagination-item {
    height: 25px !important;
    width: 25px !important;
    min-width: 25px !important;
    line-height: unset !important;
    border-radius: 2px !important;
}