.acc_datepicker{
    color: #545454;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 38px;
    width: 400px;
    
}

.acc_name{
    .ant-card-head-title {
        font-size: 20px !important;
    }   
}

span.ant-spin-dot.ant-spin-dot-spin {
    font-size: 28px !important;
}

.actionlog_download{
    display: flex;
    @media screen and (max-width: 800px) {
        display: block;
    }
    .download{
        margin-left: 24px;
        @media screen and (max-width: 800px) {
            margin-left: 0px;
            margin-top: 12px;
        }
    }
}